---
import type { TrickingEvent } from "../../models/TrickingEvent";
import { tierGradients } from "../../models/TrickingEvent";
type Props = {
  event: TrickingEvent;
};

const { event } = Astro.props;
const gold = tierGradients[1];
const silver = tierGradients[2];
const bronze = tierGradients[3];
---

<span class:list={['event-tag', {one: event.tier === 1}, {two: event.tier === 2}, {three: event.tier === 3}]}>
  {event.name}
</span>

<style define:vars={{gold, silver, bronze}}>
  .event-tag {
    border-radius: 0.375rem;
    color: #374151;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    margin-right: 0.5rem;
  }

  .one {
    background: var(--gold);
    border: 1px solid #FFD700;
  }

  .two {
    background: var(--silver);
    border: 1px solid #808080;
  }

  .three {
    background: var(--bronze);
    border: 1px solid #CD7F32;
  }
</style>