---
import type { Ranking, Rankings } from '../../models/Rankings';
import RankingsService from '../../services/RankingsService';
import RankingsTable from './RankingsTable.astro';
import EventLegend from './EventLegend.astro';

type Props = {
  noDescription?: boolean;
}


const {noDescription} = Astro.props as Props;
const rankingsService = new RankingsService();

const data: Rankings | null = await rankingsService.getOverallRankings();

let rankings: Ranking[], title: string, description;
if (data && data.rankings) {
  rankings = data.rankings;
  title = data.title;
  description = data.description;
} else {
  rankings = [];
  title = 'No rankings available';
  description = 'No rankings available';
}
---
<div class='rankings'>
  {!noDescription && <p>{description}</p>}
  <EventLegend />
  <br/>
  <RankingsTable rankings={rankings} />
</div>